name: Format Python Code

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  # Esta l铆nea es clave: permite el bot贸n de ejecuci贸n manual
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Descargar el c贸digo
      - uses: actions/checkout@v4

      # 2. Ejecutar Black (La versi贸n oficial)
      - name: Run Black
        uses: psf/black@stable
        with:
          options: "--verbose"
          # Esto le dice a Black que mire todos los archivos
          src: "."

      # 3. Guardar los cambios autom谩ticamente si Black modific贸 algo
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: " Auto-format: Black style fixes"
          branch: ${{ github.head_ref }}
