name: Validate

on:
  push:
  pull_request:

jobs:
  validate:
    name: Validate
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4.3.0"
      - uses: home-assistant/actions/hassfest@master

  hacs_validation:
    name: HACS Validation
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.0
      - name: HACS validation
        uses: hacs/action@main
        with:
          ignore: brands
          category: integration

  style:
    runs-on: "ubuntu-latest"
    name: Check style formatting
    steps:
      - uses: "actions/checkout@v4.3.0"
      - uses: "actions/setup-python@v5.6.0"
        with:
          python-version: "3.12"
          allow-prereleases: true
      - run: python3 -m pip install black
      - run: black .

  pytest:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - uses: "actions/checkout@v4.3.0"
      - uses: "actions/setup-python@v5.6.0"
        with:
          python-version: "3.12"
          allow-prereleases: true
      - run: python3 -m pip install -r custom_components/csnet_home/requirements-dev.txt
      - run: pytest --cov=custom_components
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: mmornati/home-assistant-csnet-home

